@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    background-color: #F1F1F3;
  }
  nav{
    display: flex;
    margin: 0 160px;
    justify-content: space-between;

  }
  nav ul li{
    list-style: none;
  }
  nav ul li button{
    color: seagreen;
    background-color: #F1F1F3;
    border-color: seagreen;
    padding: 10px 20px;
    border-radius: 5px;
    border-width: 2px;

  }
  .hover:hover{
    background-color: slategrey;
  }
  div{
    display: flex;
    background-color: #C6E4D6;
    border-radius: 20px;
    width: 1280px;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    padding: 30px 10px;
    justify-content: space-between;
  }
  div section p{
    font-size: 50px;
    margin: 0;
    background-color: #C6E4D6;

  }
  div section img{
    height: 320px;
    padding-right: 50px;
    background-color: #C6E4D6;

  }
  #hero{
    padding: 40px 30px 30px 0;  
  }
  .hero-cntnt{
    padding: 50px 0 20px 50px;



  }
  .hero-btn{
    margin: 20px;
    margin-left: 0;
    background-color: seagreen;
    border: none;
    padding: 12px 28px;
    border-radius: 5px;
    color: white;
  }
  div section{
    background-color: #C6E4D6;

  }
  div section h5{
    margin-bottom: 10px;
    color: slategray;
    font-size: 20px;
    background-color: #C6E4D6;

  }

  